<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://statics.teams.cdn.office.net/sdk/v1.5.2/js/MicrosoftTeams.min.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="~/musicplayer/style.css?v=4" />

    @RenderSection("scripts", required: false)
</head>
<body>
    <style>
        body {
            margin: 0;
        }

        #embed-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /*padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;*/
            border-style: none;
        }
    </style>
    <script>
        microsoftTeams.initialize();

        //- Handle the Esc key
        document.onkeyup = function (event) {
            if ((event.key === 27) || (event.key === "Escape")) {
                microsoftTeams.tasks.submitTask(null); //- this will return an err object to the completionHandler()
            }

            console.log("event.key: " + event.key);
            if ((event.key === 13) || (event.key === "Enter"))
            {
                console.log("enter key down");
                playpauseTrack();
            }
        }</script>
    <div id="embed-container">@RenderBody()</div>
</body>
</html>